<div class="col-xs-offset-3 col-xs-9">
 <div class="row">
    <em>drivulets of drivel drivelling down the dusty lane..........</em>
  </div>
</div>

    <div class="col-md-2 pull-left">
      <div class="panel panel-dark">
        <div class="panel-heading">
          <h4><strong>DrvLers</strong></h4>
        </div>
        <div class="panel-body">

            <% @users.each do |user| %>

              <em><%= link_to user.username, profile_path(user) %></em><br>

            <% end %>

          </div>
        </div>
      </div>

    <div class="col-md-offset-2 col-md-6">
      <div class="panel panel-drivet-random">
        <div class="panel-heading">
          <h4>Recent DrvLings</h4>
        </div>
        <div class="panel-body">
          <div class="list-group">
            <% @users.each do |user| %>
               <div class="well">
                  <%= recent_drivel(user) %><br>
                  <em><%= link_to user.username, profile_path(user) %></em>
               </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>



  </div>
